.a{
    background-image: url('https://images.app.goo.gl/WijuLjTfQLv1CPdGA');
   /* background-size: 200%; */
   /* background-size: inherit; */
   height: 100px;
   
   background-size: cover;


}
 footer {
   
    text-align: center;
    
    padding:5px;
    background-color:black;
    color:white;
    display: block;
    margin-top: 500px;

  } 
  .text-light{
 color:white
  }

  .iconcolor{
     color:white;
  }

 .nav-item dropdown{

 padding-right:1000px;
 padding-left:0px;
 margin-right:0px
 }