input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:white;
    top:10px;
    line-height: 150px;
  }
  .no-outline:focus {
    outline: none;
  }
