<!-- <div class="sidenav">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      
      <li class="nav-item">
        <a >My Customers</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="addcustomers" >Add Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="customer-griveances">Customer Grievances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="postnews">Post News</a>
        </li>
       
       
      </ul>
  </div>
  <router-outlet></router-outlet> -->
  <div class="d-flex " id="wrapper" style="padding-top: 1px;">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      
      <div class="list-group list-group-flush">
        <div>
          <a class="list-group-item list-group-item-action bg-light" style="color: chocolate;" (click)="onSelect(1)" ><b> WELCOME,ADMIN</b><span class="sr-only">(current)</span></a>
          </div>
        <div>
        <a class="list-group-item list-group-item-action bg-light"><b> MY CUSTOMER</b></a>
        </div>
        <a class="list-group-item list-group-item-action bg-light" (click)="onSelect(2)">ADD CUSTOMER</a>
        <a class="list-group-item list-group-item-action bg-light" (click)="onSelect(3)">MANAGE CUSTOMER</a>
        <div>
          <a class="list-group-item list-group-item-action bg-light"(click)="onSelect(4)">CUSTOMER GRIVEANCES</a>
          </div>
        <div>
          <a class="list-group-item list-group-item-action bg-light"><b>WEBSITE MANAGEMENT</b></a>
          </div>
        <div>
          <a class="list-group-item list-group-item-action bg-light"(click)="onSelect(5)">POST NEWS</a>
          </div>
        <!-- <a href="/home" class="list-group-item list-group-item-action bg-light">LOGOUT</a> -->
        <a href="#" class="list-group-item list-group-item-action bg-light"></a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <!-- <div id="page-content-wrapper"> -->
      <!--<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom"> -->
       
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
          <!-- <div><h2>ADD CUSTOMER DETAILS</h2></div> -->
          <!-- <span class="navbar-toggler-icon"></span> -->
        <!-- </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li> -->
            
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
              </a> -->
              <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div> -->
            <!-- </li> -->
            <!-- <div >
              <a routerLink="/home" class="list-group-item list-group-item-action bg-light">Logout</a>
              </div>
          </ul>
        </div>
      </nav> -->
      <div class="container-fluid">
        <app-welcome-admin *ngIf="selected==1"></app-welcome-admin>
        <app-add-customers *ngIf="selected==2"></app-add-customers>
        <app-customers-list *ngIf="selected==3"></app-customers-list>
        <app-admin-griveances *ngIf="selected==4"></app-admin-griveances>
        <app-news *ngIf="selected==5"></app-news>
      </div>
    
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->