<div class="container col-md-12 " style="padding-top:20px;">
    
        <div class="input-group card-header" id="head" style="padding-top:20px; padding-bottom: 20px;">
            <input class="form-control col-md-8" type="search" value="search" id="example-search-input" >
            <span class="input-group-append">
                <div class="input-group-text bg-light"><i class="fa fa-search" style="font-size:20px;color:rgb(236, 231, 231)"></i></div>
            </span>
        </div> 
        
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <table class="table table-hover ">
                    <thead class="bg-light">
                      <tr>
                        <th scope="col">Transaction Id</th>
                        <th scope="col">Date & Time</th>
                        <th scope="col">Debit</th>
                        <th scope="col">Credit</th>
                        <th scope="col">Balance</th>
                      </tr>
                    </thead>
                    <!-- <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><i class="fas fa-align-justify"></i></td>
                        
                        
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        <td>Otto</td>
                        
                      </tr>
                    </tbody> -->
                  </table>
            </div>
          
          
        </div>
     
    </div>