<div class="bg">
    <div class="col-md-6 offset-4" style="padding-top: 90px;">
      
      <div class="card col-lg-6 " >
        <div class="card-body ">
          
            <div class="card-header">
                <h3 class="text-lg-center">PAY TO BENEFICIERY</h3>
            </div>
            <p>&nbsp;</p>
      <form >
        <h4>To:</h4>
        <div class="form-row">
            
            <div class="form-group">
                <label> Account Number</label>
                <input type="number" class="form-control no-outline" id="accno">
            </div>
        </div>
          <div class="form-row">
              
              <div class="form-group">
                  <label> Enter Amount</label>
                  <input type="number" class="form-control no-outline" id="accno">
              </div>
          </div>
            <div class="form-row">
              <div class="form-group">
                  <label> Pin</label>
                  <input type="number" class="form-control no-outline" id="accno">
              </div>
          </div>
          
           
            <button type="button" class="btn btn-light" style='margin-right:16px' (click)="back()"><i class="fa fa-arrow-circle-left" style="font-size:32px;"></i></button>
          <button type="submit" class="btn btn-secondary" style='margin-right:16px'>PAY</button>
          <button type="reset" class="btn btn-secondary" style='margin-right:16px'>RESET</button>
        </form>
          </div>
        </div>
      </div>
    </div>