<!-- <div class="a">

</div>
<footer>
    <p>Email-Us:</p>
    <p><a href="shubharamu2598@gmail.com">shubharamu2598@gmail.com</a></p>
    <p>Contact-Us:</p>
    <p>08585-281105</p>
  </footer>  -->
  <!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-light">Kotak 811 is a digital zero balance</a>
          </li>
          <li>
            <a href="#!" class="text-light">savings account that you can open </a>
          </li>
          <li>
            <a href="#!" class="text-light">online.The online savings account  </a>
          </li>
          <li>
            <a href="#!" class="text-light">opening process is seamless, zero-contact. 
              
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Resources</h5>

        <ul class="list-unstyled" >
          <li>
            <a href="#!" class="text-light">GST Calculator</a>
          </li>
          <li>
            <a href="#!" class="text-light">Business Ready Pack</a>
          </li>
          <li>
            <a href="#!" class="text-light">Downloads</a>
          </li>
          <li>
            <a href="#!" class="text-light">YouTube Channel</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-bold text-uppercase mt-3 mb-4">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"class="text-light"><i class="fa fa-map-marker" aria-hidden="true"></i>bangalore</a>
          </li>
          <li>
            <a href="#!"class="text-light"><i class="fa fa-envelope" aria-hidden="true"></i>onlinebanking@gmail.com</a>
          </li>
          <li>
            <a href="#!"class="text-light"><i class="fa fa-phone" aria-hidden="true"></i>080-1124566</a>
          </li>
          
        </ul>

     
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> onlinebanking.com</a>
  </div>
  <!-- Copyright -->

<!-- Footer -->
